@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  margin-top: 3.57em;
  padding-top: 3.57em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 0.71em;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -0.05em;
  margin-bottom: 2.14em;
  text-align: center;
}

$light-gray: #777;


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 0.71em;
  font-size: 1.5em;
  color: #d6d6c2;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  padding-top: 0.64em;
  font-weight: bold;
  &:hover {
  text-decoration: none;
  }
}

header {
  height: 5em;
  padding: 0.71em 0;
}

/* miscellaneous */

.edit_profile {
  margin-bottom: 1.43em;
}

#background {
    background-color: #ffffe6;
    padding: 15em 0;
    text-align: center;
}

.headline {
  width: 21.43em;
  padding: 1.07em;
  font-size: 2.86em;
  letter-spacing: 0.07em;
  margin: auto;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

.learn_more {
  font-size: 1.29em;
  display: inline-block;
  margin-left: 0.71em;

  a {
    color: #4d79ff;
  }
}

.sign_up {
  display: inline-block;
  padding: 1.43em 1.86em;
  font-size: 1.29em;
  line-height: 0.095em;
  border-radius: 0.86em;
  background-color: #000000;
  margin-right: 0.71em;
}

a {
  color: #6699ff;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ffccb3;
}

.tagline {
  font-size: 1.79em;
  font-style: italic;
}

.about {
  text-align: center;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 1.43em;
  }
  section {
    padding: 0.71em 0;
    margin-top: 1.43em;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 0.21em;
      line-height: 1em;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -0.05em;
      margin-bottom: 0.21em;
      margin-top: 0em;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 0.71em;
}

.container_gravater_edit {
  margin-top: 1.07em;
  margin-bottom: 5em;
  position: relative;
  left: 45%;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 0.71em;
    border-left: 0.07em solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 0.71em;
  .gravatar {
    margin: 0.07em 0.07em;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 0.07em solid #bbb;
  width: 100%;
  margin-bottom: 1.07em;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 2.14em 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -0.71em;
  margin-bottom: 0.71em;
  span {
    margin-left: 1.43em;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin-bottom: 1.43em;
  li {
    overflow: auto;
    padding: 0.71em 0;
    border-bottom: 0.14em solid $gray-lighter;
  }
}

/* microposts */

.micropost {
  list-style: none;
  margin-top: 2.14em;
  margin-bottom: 0.71em;
  padding: 0.71em;
  border-top: groove 0.07em;
}

.feed {
  width: 42.86em;
  display: inline-block;
  list-style: none;
  padding: 1.43em;
  border: groove 0.07em;
  margin-bottom: 1.43em;
  li {
    list-style: none;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 4.29em;
    img {
      display: block;
      padding: 0.36em 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 4.29em;
    text-decoration: none;
  }
  .gravatar {
    float: left;
    margin-right: 0.71em;
    margin-top: 0.36em;
  }
}

aside {
  textarea {
    height: 7.14em;
    margin-bottom: 0.36em;
  }
}

span.picture {
  margin-top: 0.71em;
  input {
    border: 0;
  }
}

/* comments */

.comments {
  margin-top: 0.71em;
  margin-bottom: 1.43em;
  margin-left: 1.43em;
}

/* footer */

#footer .copyright {
  text-align: center;
  margin-top: 0.65em;
  padding: 0;
}

#footer .copyright li {
  color: #858585;
  display: inline-block;
  list-style: none;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

#footer .copyright li:first-child {
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright a {
  color: #858585;
}