<!-- Banner -->
<section id="background">
	<h2 class="headline">TweetClone</h2>
	<p class="tagline">"We help you connect to others QUICKLY!"</p>
	<div>
		<div class="sign_up"><%= link_to "Sign Up", signup_path%></div>
		<div class="learn_more"><%= link_to "Learn More", about_path%></div>
	</div>
</section>



