<!-- Banner -->
<section id="banner">
<h2>TweetClone</h2>
	<p>Quickest way to connect with the people in your life.</p>
	<ul class="actions">
		<li><%= link_to "Sign Up", signup_path, :class => "button big special" %></li>
			<li><%= link_to "Learn More", about_path, :class => "button big alt" %></li>
	</ul>
</section>



