<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>TweetClone</h2>
		<p>Quickest way to connect with the people in your life</p>
		<ul class="actions">
			<li><%= link_to "Sign Up", signup_path, :class => "button big special" %></li>
			<li><%= link_to "Learn More", about_path, :class => "button big alt" %></li>
		</ul>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
	<header class="major">
		<h2>TweetClone allows you to...</h2>
	</header>
	<div class="container">
		<div class="row">
			<div class="4u">
				<section class="special box">
					<i class="icon fa-area-chart major"></i>
					<h3>Share quickly and easily</h3>
					<p></p>
				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-refresh major"></i>
					<h3>Short and easy to read texts</h3>
					<p></p>
				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-cog major"></i>
					<h3>Simple to use</h3>
					<p></p>
				</section>
			</div>
		</div>
	</div>
</section>



